{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    {% with request.resolver_match.url_name as url_name %}
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Pages</li>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'index' %} {% else %} collapsed {% endif %}"
                href="{% url 'homepage:index' %}">
                <i class="ri-home-5-line"></i>
                <span>Beranda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'userprofile' %} {% else %} collapsed {% endif %}"
                href="{% url 'userprofile' %}">
                <i class="bi bi-person"></i>
                <span>Profil</span>
            </a>
        </li>
        <li class="nav-item">
            {% if user.is_superuser %}
            <a class="nav-link {% if url_name == 'summary' %} {% else %} collapsed {% endif %}"
                href="{% url 'summary' %}">
                <i class="ri-line-chart-line"></i>
                <span>Hasil</span>
            </a>
            {% elif user_response %}
            <a class="nav-link {% if url_name == 'summary' %} {% else %} collapsed {% endif %}"
                href="{% url 'summary' %}">
                <i class="ri-line-chart-line"></i>
                <span>Hasil</span>
            </a>
            {% else %}
            <a class="nav-link {% if url_name == 'summary' %} {% else %} collapsed {% endif %}" data-bs-toggle="modal"
                data-bs-target="#responseModal" href="{% url 'summary' %}">
                <i class="ri-line-chart-line"></i>
                <span>Hasil</span>
            </a>
            {% endif %}
        </li>
    </ul>
    {% endwith %}
</aside>